.news {
  margin: 0 auto;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.news-article {
  margin-bottom: 15px;
  padding: 15px;
  height: 415px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #bdc3c7;
  text-align: center;
  overflow: auto;
}

.news-article:last-of-type {
  margin-bottom: 0;
}

.news-article-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: var(--light);
}

.news-article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.news-article-text {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.news-article-text h3 {
  margin-bottom: 10px;
}

@media screen and (min-width: 769px) {
  .news-article {
    flex-direction: row;
    height: 220px;
  }

  .news-article-image {
    flex: 30%;
  }

  .news-article-text {
    flex: 70%;
    margin-left: 10px;
  }
}

@media screen and (min-width: 1201px) {
  .news-article-text {
    padding: 0 50px;
  }
}
