* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.3;
}

body {
  font-size: 14px;
  font-weight: 400;
}

:root {
  --primary: #097969;
  --secondary: #f5b041;
  --light: #fdfefe;
  --error: #b03a2e;
}
